<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ver Conteúdo
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5"  fullscreen>
  <div call="total" *ngFor="let user of users"> 
  <div *ngIf="user.id !== 'error'">
  <h4 id="verConteDo-heading2" style="color:#000000;" >
   {{user.titulo}}
  </h4>
  <div class="spacer" style="width:300px;height:15px;" id="verConteDo-spacer4" ></div>

<!-- <script src="https://player.vimeo.com/api/player.js"></script> -->
  <!-- slide de videos  -->
  <div class="spacer" style="width:300px;height:15px;" id="verConteDo-spacer5"></div>
<div style="position:relative;width:100%;" [hidden]=" !video_found"> 
            <ion-slides 
            pager
            control 
            paginationClickable=true
            initialSlide=0
            loop=true
            autoplay=0
            speed=3000 
            class="slide_code">
                <ion-slide #slider *ngFor="let user of galeriaVideos">
                    <div class="slide-galery" style="width: 100%;height: 250px;">
                          <div class="arrastar-slide"></div>
                        <!-- <div [ngClass]="{'video-horizontal' : user.formato_video === 'h','video-vertical' : user.formato_video === 'v' }" [hidden]="user.video === 'error'">   -->
                            <iframe width="100%"
                                    height="auto"
                                    [src]="user.video_link ? user.video_link : null"
                                    (load)="user.video_link ? handleIFrameLoadEvent() : null"
                                    frameborder="0"
                                    webkitallowfullscreen 
                                    mozallowfullscreen 
                                    allowfullscreen
                                    style="position:absolute;top:0;left:0;width:100%;height:100%;">
                            </iframe>
                        <!-- </div> -->
<!-- <h2>{{user.url}}</h2> -->
                    </div>
                </ion-slide>                    
              </ion-slides>

              
              <div class="swiper-button-next" (click)="slideNext()"></div>
              <div class="swiper-button-prev" (click)="slidePrev()"></div>

</div>  
  <!-- slide de fotos  -->
<div class="spacer" style="width:300px;height:15px;" id="verConteDo-spacer59"></div>
<div style="position:relative;width:100%;"> 
            <ion-slides paginationClickable=true
            initialSlide=0
            loop=true
            autoplay=5000
            speed=2000 
            class="slide_code">
                <ion-slide #mySlider *ngFor="let imagem of user.galeria">
                    <div class="slide-galery" style="width: 100%;height: 250px;">
                      <img src="{{imagem.img_link}}" alt="" style="width: 100%;height: auto;">
                    </div>
                </ion-slide>
              </ion-slides>
</div>
  <div id="verConteDo-markdown2" class="show-list-numbers-and-dots">
    <p style="color:#000000;" *ngFor="let user of users">
      {{ user.descricao }}
    </p>
  </div>
  <ion-list id="verConteDo-list3" *ngFor="let user of users" [hidden]="user.documento === ''">
<a href="{{user.documento}}">      
    <ion-item-sliding class="docitem">
  
      <ion-item color="none" id="verConteDo-list-item5">
        {{user.nome_documento}} 
        <ion-icon name="document" item-right></ion-icon>
      </ion-item>
      
      <ion-item-options side="left">
        <button ion-button color="positive"></button>
      </ion-item-options>
    </ion-item-sliding>
  </a>       
  </ion-list>
  <ion-item *ngFor="let video of users.album_vimeo">
    <h3 class="video.video_link">video n.</h3><br>
  </ion-item>
  <h4 id="verConteDo-heading3" ng-show="faleConosco" style="color:#000000;text-align:center;">
    Entre em Contato
  </h4>
  <div id="cloud-button-bar1" class="button-bar" *ngFor="let user of users">
  <a href="tel:{{user.tel_whatsapp}}"  class="button button-positive button-block" [hidden]="user.tel_whatsapp === ''"> 
      <button id="verConteDo-button4" ion-button color="positive" class="button-block">
      <ion-icon name="call"></ion-icon>
      </button>
  </a>
  <a href="http://api.whatsapp.com/send?1=pt_BR&phone={{user.pais}}{{user.tel_whatsapp}}"  class="button button-positive button-block" [hidden]="user.tel_whatsapp === ''">
      <button id="verConteDo-button5" ion-button color="balanced"  class="btn_zap button-block" >
        <ion-icon name="logo-whatsapp"></ion-icon>
      </button>
  </a>
  <a href="mailto:{{user.email}}"  class="button button-positive" [hidden]="user.email === ''">
    <button id="verConteDo-button6" ion-button color="positive"  class="button-block">
        <ion-icon name="ios-mail"></ion-icon>
    </button>
  </a>
  </div>
  <div class="spacer" style="width:300px;height:24px;" id="verConteDo-spacer6"></div>
  <h4 id="verConteDo-heading4" ng-show="RedesSociais" style="color:#000000;text-align:center;">
    Redes Sociais
  </h4>
  <div id="cloud-button-bar2" class="button-bar" *ngFor="let user of users">
<a href="https://facebook.com/{{user.facebookUser}}"  class="button button-positive" [hidden]="user.facebookUser === ''">
  <button id="verConteDo-button7" ion-button outline color="dark" class="btn_50 button-block">
    <ion-icon name="logo-facebook" style="font-size: 24px"></ion-icon>
  </button>
</a>
<a href="https://instagram.com/{{user.instagramUser}}"  class="button button-positive" [hidden]="user.instagramUser === ''">
  <button id="verConteDo-button8" ion-button outline color="dark"  class="btn_50 button-block">
    <ion-icon name="logo-instagram" style="font-size: 24px"></ion-icon>
  </button>
</a>      
  </div>

  <div class="spacer" style="width:300px;height:37px;" id="verConteDo-spacer7"></div>
  <button (click)='pushHome()' id="verConteDo-button9" ion-button color="dark" block large icon-left>
    <ion-icon name="arrow-back"></ion-icon>
    Início
  </button>
  <!--  Caso haja erro... -->
</div>
<div *ngFor="let user of users">
    <div *ngIf="user.id === 'error'">
<div class="spacer" style="width:500px;height:37px;" id="verConteDo-spacer74"></div>
<h3>O code Pesquisado não foi encontrado.</h3>
      <button (click)='pushHome()' id="verConteDo-button93" ion-button color="dark" block large icon-left>
          <ion-icon name="arrow-back"></ion-icon>
          Voltar
        </button>  
    </div>
  </div> 
</div>  <!-- Div total -->
</ion-content>   
   

