page-ver-conte-do {
    .video-vertical{

        padding:181.82% 0 0 0;
        position:relative;
        
    }
    .video-horizontal{
    
        padding:70% 0 0 0;
        position:relative;
    
    } 
    input.text-input.text-input-ios {
        text-align: center;
        font-size: xx-large;
        text-transform: uppercase;
    }      

}
