<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ver Conteúdo
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5" >
  <h4 id="verConteDo-heading2" style="color:#000000;" *ngFor="let user of users">
    {{ user.titulo }}
  </h4>
  <div class="spacer" style="width:300px;height:15px;" id="verConteDo-spacer4" ></div>
<div [hidden]=showhidefavorite >
  <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="verConteDo-video1" > 
    <iframe #videoPlayer frameborder="0" allowfullscreen width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
  </div>
</div>
  <div *ngFor="let user of users" >
  <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer" *ngIf="user.video !== ''">
      <source src="{{user.video}}" type="video/mp4" />
  </video>
</div>  
  <div class="spacer" style="width:300px;height:15px;" id="verConteDo-spacer5"></div>

  <ion-slides paginationClickable=true
  initialSlide=0
  loop=true
  autoplay=5000
  speed=2000
  #mySlider *ngFor="let user of users" class="slide_code">
      <ion-slide>
          <img src="{{user.imagem1}}">
      </ion-slide>
      <ion-slide>
          <img src="{{user.imagem2}}">
      </ion-slide>
      <ion-slide>
          <img src="{{user.imagem3}}">
      </ion-slide>
      <ion-slide>
          <img src="{{user.imagem4}}">
      </ion-slide>
    </ion-slides>



  <div id="verConteDo-markdown2" class="show-list-numbers-and-dots">
    <p style="color:#000000;" *ngFor="let user of users">
      {{ user.descricao }}
    </p>
  </div>
  <ion-list id="verConteDo-list3">
    <ion-item-sliding>
      <ion-item color="none" id="verConteDo-list-item5">
        <!-- {{filename}} -->
        Nome od arquivo
        <ion-icon name="document" item-right></ion-icon>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="positive"></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <h4 id="verConteDo-heading3" ng-show="faleConosco" style="color:#000000;text-align:center;">
    Entre em Contato
  </h4>
  <div id="cloud-button-bar1" class="button-bar" *ngFor="let user of users">
  <a href="tel:{{user.tel_whatsapp}}"  class="button button-positive button-block"> 
      <button id="verConteDo-button4" ion-button color="positive" class="button-block">
      <ion-icon name="call"></ion-icon>
      </button>
  </a>
  <a href="http://api.whatsapp.com/send?1=pt_BR&phone={{user.pais}}{{user.tel_whatsapp}}"  class="button button-positive button-block">
      <button id="verConteDo-button5" ion-button color="balanced"  class="btn_zap button-block" >
        <ion-icon name="logo-whatsapp"></ion-icon>
      </button>
  </a>
  <a href="{{user.email}}"  class="button button-positive">
    <button id="verConteDo-button6" ion-button color="positive"  class="button-block">
        <ion-icon name="ios-mail"></ion-icon>
    </button>
  </a>
  
  </div>  

  <div class="spacer" style="width:300px;height:24px;" id="verConteDo-spacer6"></div>
  <h4 id="verConteDo-heading4" ng-show="RedesSociais" style="color:#000000;text-align:center;">
    Redes Sociais
  </h4>
  <div id="cloud-button-bar2" class="button-bar" *ngFor="let user of users">
<a href="{{user.facebookUser}}"  class="button button-positive">
  <button id="verConteDo-button7" ion-button outline color="dark" class="btn_50 button-block">
    <ion-icon name="logo-facebook" style="font-size: 24px"></ion-icon>
  </button>
</a>
<a href="{{user.instagramUser}}"  class="button button-positive">
  <button id="verConteDo-button8" ion-button outline color="dark"  class="btn_50 button-block">
    <ion-icon name="logo-instagram" style="font-size: 24px"></ion-icon>
  </button>
</a>      
  </div>

  <div class="spacer" style="width:300px;height:37px;" id="verConteDo-spacer7"></div>
  <button (click)='pushHome()' id="verConteDo-button9" ion-button color="dark" block large icon-left>
    <ion-icon name="arrow-back"></ion-icon>
    Início
  </button>
</ion-content>