page-home {
    button.btn_30 {
        width: 30.5%;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none !important;
    }
    ion-item#bar-tools {
        // width: 40%;
        // float: left;
    }
    ion-item#bar-tools2 {
        // width: 50%;
        // float: right;
        position: absolute;
        top: 90%;
    }

}
