// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

button.btn_30 {
    width: 30.5%;
}
button.btn_zap {
    background-color: #016d21;
}
div#cloud-button-bar1, div#cloud-button-bar2  {
    display: flex;
}
.text-input-md {
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
}
ion-item#home-input1 {
    border-radius: 4px;
}
button#home-button1 {
    height: 50px;
    font-size: 20px;
}
span.text_left2 {
    width: 90%;
    margin-right: 5%;
}
ion-slides.slide_code {
    border: 2px solid;
    border-color: #bdbdbd;
    border-radius: 5px;
    padding: 4px;
}
a.button.button-positive {
    display: contents;
}
video.videoPlayer {
    width: 100%;
}
ion-item-sliding.docitem.item-wrapper {
    border: 1px solid;
    border-radius: 5px;
}
div#minhaConta-container1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
    width: 100%;
    z-index: -1;
}
.total_content {
    width: 100%;
    height: 100%;
}
.page-historico{
    background-color: #0A2652;
}
.btn_history {
    display: flex;
}
button#home-button77 {
    width: 25%;
    margin-left: 10px;
}
button#home-button77 {
    background-color: red;
}
span.div2 {
    white-space: nowrap;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

